<html>
<head>
<title>Group Chatroom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; frame-src *;"

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="group.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            // this triggers the connection event in our server!
            var socket  = io.connect();
            // we'll write all the socket stuff after the above line!
            //Gets new user at log on
            function getUser() {
                var person = prompt("Please enter your name", "Name...");
                if (person != null) {
                    console.log(person);
                    var new_person = { 'name': person };
                    socket.emit( "add_new_user", new_person);
                };
            };
            getUser();

            //posts new message on click
            $(document).on('click', '#postmsg', function(){
                var message = document.getElementById('message').value;
                console.log(message);
                socket.emit( "add_new_msg", { message: message });
                $('input[type="text"], textarea').val('');
            });
            //posts new message on enter
            $(document).on('keydown', '#message', function(e){
                if (e.keyCode === 13) {
                    var message = document.getElementById('message').value;
                    console.log(message);
                    socket.emit( "add_new_msg", { message: message });
                    //clears message box between messages
                    $('input[type="text"], textarea').val('');
                };
            });
            //creates room for new user
            socket.on( 'create_room', function (data){
                $(data).appendTo('#board').hide().fadeIn(1500);
            });
            //posts new message in the message window
            socket.on( 'update_room', function (data){
                //ensures that the window is always scrolled to the bottom
                var out = document.getElementById("chat_win");
                var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;
                $(data).appendTo('#chat_win').hide().fadeIn(500);
                if(isScrolledToBottom){
                    out.scrollTop = out.scrollHeight - out.clientHeight;
                };
            });
        });
    </script>
</head>
<body>
    <div class='container'>
        <div id='chat_room' class='border border-dark w-100 p-3'>
            <div id='board'></div>
        </div>
    </div>
</body>
</html> 